<%- include('../includes/head.ejs') %>

<body>

    <%- include('../includes/navigation.ejs') %>

    <main>
        <section class="container">
            <section class="card-deck text-center mb-5">
                <% if(products.length > 0) { %>
                <% for (let product of products) { %>
                <div class="card text-center bg-secondary mb-5 mt-5" style="max-width: 25rem;">
                    <div class="card-body p-3">
                        <img src="<%= product.imageUrl %>" alt="<%= product.item %>" class="img-fluid">
                        <h2 class="m-3 text-center">$<%= product.price %></h2>
                        <p class="card-text text-uppercase text-sm-center mt-3 text"><%= product.item %></p>

                        <form action="/admin/delete-prodcut" method="POST">
                            <a href="/admin/edit-product" class="btn btn-warning">Edit</a>
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
                <% } else { %>
                <div class="card text-white bg-warning mx-auto mt-5 mb-3 text-lg-center" style="max-width: 30rem;">
                    <div class="card-body">
                        <h2 class="m-5 p-2 mx-auto">No Products Available</h2>
                    </div>
                </div>

                <% } %>
            </section>
        </section>
    </main>
    <%- include('../includes/end.ejs') %>